* {
    padding: 0px !important;
    margin: 0px !important;
    list-style: none;
    text-decoration: none !important;
    box-sizing: border-box;
}

h4 {
    padding-bottom: 3px !important;
}

.active {
    background: rgb(99, 182, 99) !important;
    color: white !important;
}

.active-content {
    background: white !important;
}

.cFluid {
    width: 100% !important;
}

.errorStar {
    color: #143d01;
    background-color: rgba(181, 255, 161, 0.1);
    font-size: 0.86em;
    font-style: italic;
    font-weight: bold;
}

.addBorderError {
    border: 2px solid #ff6154 !important;
}

.navigation {
    display: flex;
    width: 100% !important;
    align-items: center;
    height: 65px;
    justify-content: space-between !important;
    padding: 0px 20px !important;
    padding-right: 2px !important;
    border-bottom: 3px solid rgb(75, 167, 67);
    color: rgb(16, 119, 16) !important;
    position: sticky !important;
    background: rgba(255, 255, 255, 0.874);
    z-index: 200;
    top: 0px;
}

.navigation img {
    width: 60px !important;
    height: 60px !important;
}

.navigation .menuContent:first-child {
    display: flex !important;
    justify-content: space-between !important;
    position: relative !important;
}

.navigation .menuContent li {
    border-bottom: 4px solid rgba(58, 147, 22, 0.6);
}

.navigation .menuContent li:last-child {
    border-bottom: none;
}

.navigation li a {
    color: rgb(16, 119, 16) !important;
    font-size: 1.1em;
}

.navigation .menuContent li label {
    color: rgb(16, 119, 16) !important;
    font-size: 1.1em;
    padding-right: 8px !important;
}

.container-fluid {
    width: 100%;
}

.navigation .menu {
    margin-bottom: 10px;
}

#carouselExampleIndicators {
    width: 100% !important;
    height: 540px !important;
    position: relative !important;
}

button i {
    margin-right: 20px !important;
    border: 1px solid rgb(14, 99, 3);
    padding: 4px 6px !important;
    font-size: 1.2em;
}

#carouselExampleIndicators a i {
    opacity: 1;
}

.carouselItem {
    width: 100%;
    height: 100% !important;
}

.carouselItem img {
    height: 100%;
    width: 100%;
}

.innerCarousel {
    width: 100%;
    height: 100% !important;
}

.controlIcon {
    position: fixed;
    z-index: 20;
    bottom: 0px;
}

.carouselPointers {
    width: 100%;
    display: flex;
    justify-content: center;
}

.carouselPointers .active {
    background: rgb(77, 73, 73);
}

.carouselPointers li {
    background: rgb(230, 228, 228);
    margin-right: 3px !important;
    border: 1px solid black;
    width: 45px;
}

.carousel-control {
    border: 1px solid black;
    padding: 18px !important;
    font-size: 2.4em !important;
    background-color: rgb(66, 62, 62);
    border-radius: 50px;
}

.carousel-control:hover {
    background-color: rgb(51, 50, 50);
}

.carouselTitle {
    width: 280px;
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carouselTitle .title {
    height: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0px 10px !important;
    align-items: center;
    border-radius: 10px;
    background: rgba(207, 194, 194, 0.603);
}

.carouselTitle .title h1 {
    font-size: 1.9em;
    padding-bottom: 20px !important;
}

.carouselTitle .title img {
    margin-bottom: 20px !important;
    width: 100px;
    height: 100px;
}

.boxes {
    text-align: center;
    padding: 30px 0px !important;
}

.boxes .box {
    height: auto;
    width: 30%;
    background: #56ba42;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    color: black;
    padding: 20px 10px !important;
    margin-bottom: 30px !important;
}

.boxes .box img {
    width: 81%;
    height: 178px;
    border-radius: 10px;
}

.boxes .box h3 {
    color: white;
    padding-bottom: 10px !important;
}

.boxes .box p {
    color: white;
    padding-top: 3% !important;
    width: 80%;
    text-align: justify;
}

.boxes .box p b {
    font-size: 1.3em;
}

.loginUser {
    padding: 70px 3px !important;
}

.titlePage {
    padding-top: 30px !important;
    color: rgb(26, 82, 29);
    font-size: 2.3em;
    padding-bottom: 25px !important;
}

.formLogin {
    text-align: center;
    padding: 26px 10px !important;
    background: #56ba42;
    font-size: 1.2em;
    border-radius: 2% !important;
}

.formLogin form {
    width: 100% !important;
    height: 100% !important;
    font-size: 1.14em;
}

.formLogin p {
    padding: 7px 0px;
}

input[type="text"], input[type="button"], input[type="password"] {
    padding: 4px 3px !important;
    font-size: 0.9em;
    margin: 0 auto !important;
    background: rgb(255, 255, 255) !important;
    border: 2px solid #28a745 !important;
    border-radius: 2% !important;
    margin-top: 2% !important;
}


input[type="text"]:focus, input[type="password"]:focus {
    transition: 0.6s;
    border: none;
    border: 3px solid rgb(19, 73, 11) !important;
    border-color: rgba(140, 229, 39, 0.9) !important;
    outline: none;
}

textarea:focus {
    transition: 0.6s;
    border: none;
    border: 3px solid rgb(19, 73, 11);
    outline: none;
}

input[type='button'] {
    width: 240px;
    margin-top: 14px !important;
    padding: 10px 0px !important;
    border: none;
    border: 2px solid rgb(101, 226, 102);
}

#answer {
    min-width: 20%;
    text-align: center;
    padding-top: 6px !important;
    color: #078023 !important;
    background: white;
    border: 2px solid green;
}

#answer:hover {
    transition: 0.6s;
    background: #e9e9e9;
    color: green;
}

input[type='button']:hover {
    border: 3px solid #75ff5d !important;
    border-color: rgba(38, 25, 19, 0.24) !important;
    transition: 0.6s;
    color: rgba(0, 0, 0, 0.85);
}

.formLogin a {
    color: rgb(255, 255, 255);
}

form p {
    padding: 6px 0px !important;
}

#result {
    margin-top: 2% !important;
    color: #143d01;
    background-color: rgba(181, 255, 161, 0.1);
    font-size: 0.86em;
    font-style: italic;
    font-weight: bold;
}

.addresult {
    padding: 20px 5px !important;
    color: #35ff4c;
    font-size: 1.3em;
}

.user {
    text-align: center;
}

.user a {
    font-size: 1.2em !important;
}

.user i.btn {
    font-size: 1.4em !important;
}

.dropMenu {
    background: rgba(255, 255, 255, 0.774);
    width: 18% !important;
    margin-top: 15px !important;
}

.dropMenu li {
    padding: 14px 1px !important;
    text-align: center;
    color: rgb(8, 68, 0) !important;
}

.dropMenu li a {
    font-size: 1.1em !important;
}

.menuContent {
    position: relative !important;
}

#add-content {
    margin-top: 40px !important;
    text-align: center !important;
    margin-bottom: 35px !important;
}

#add-content nav {
    padding-bottom: 20px !important;
}

.title-add {
    font-size: 2.1em !important;
}

#add-content nav a {
    color: green;
    padding: 10px 0px !important;
    margin: 0px 10px !important;
}

.nav-buttons .nav-item {
    text-align: center;
    margin-bottom: 13px !important;
}

.tab-content div {
    color: black !important;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.tab-content div form {
    color: black !important;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

textarea {
    resize: none;
    height: 140px !important;
    padding: 4px !important;
    border: 2px solid #28a745 !important;
    border-radius: 2% !important;
    margin-top: 2% !important;
}

.p-files {
    padding-bottom: 14px !important;
}

input[type='file'] {
    width: 200px !important;
    padding-bottom: 14px !important;
    margin-top: 5% !important;
}

span label {
    color: rgb(10, 58, 3);
}

.book {
    display: flex;
    flex-direction: column;
    padding: 10px !important;
    align-items: center;
    margin-bottom: 15px !important;
}

.book p {
    padding: 9px 0px !important;
    width: 80%;
    text-align: justify;
}

.book a {
    width: 200px;
    padding: 4px !important;
    color: rgb(86, 186, 66);
    text-align: center;
}

.book a:hover {
    color: white;
    background: #56ba42;
}

.book:nth-child(odd) {
    margin-left: 8% !important;
}

.book:nth-child(even) {
    margin-right: 8% !important;
}

.profile {
    padding: 2.6% 0 !important;
    margin: 5% 0 !important;
}

.profile h4 {
    border-bottom: 2px solid rgb(29, 141, 19);
    padding: 8px 0px !important;
}

.profile p {
    padding: 5px 0px !important;
    font-size: 1.24em;
}

.profile #desc {
    padding-bottom: 45px !important;
}

.profile a {
    padding: 6px 8px !important;
    font-size: 1.24em;
}

.profile-img {
    border: 3px solid rgb(30, 141, 26);
    width: 200px;
    height: 200px;
    margin: 30px 0px !important;
}

.profile-img img {
    width: 100%;
    height: 100%;
}

.edittxt {
    border: 2px solid rgb(151, 151, 151) !important;
}

.edittxt:focus {
    transition: 0.6s;
    border: none;
    border: 3px solid rgb(19, 73, 11);
    outline: none;
}

#changepassword {
    margin-bottom: 21px !important;
}

.recept {
    height: 320px !important;
    margin-bottom: 30px !important;
    padding: 2% !important;
}
.recept:hover{
    box-shadow: 0 12px 16px 0 rgba(3, 94, 15, 0.24), 0 17px 50px 0 rgba(3, 94, 15, 0.24);}

.recept .recept-img {
    width: 85%;
    height: 65% !important;
}

.recept .recept-img img {
    width: 100%;
    height: 100%;
    border-radius: 2%;
}

.recept a {
    padding: 5px 19px !important;
    border: 2px solid rgb(108, 226, 97);
    color: rgba(19, 124, 45, 0.85);
}

.recepts-title {
    font-size: 1.3em;
    text-align: center;
}

.recept a:hover {
    border: 3px solid #75ff5d !important;
    border-color: rgba(38, 25, 19, 0.24) !important;
    transition: 0.6s;
    color: rgba(0, 0, 0, 0.85);
}

.recepts {
    padding-top: 40px !important;
}

#pagination-div {
    width: 100% !important;
    display: flex;
    justify-content: center !important;
    align-items: center;
}

#pagination-div .pagination {
    display: flex !important;
    flex-direction: row !important;
    margin: 35px 0px !important;
}

#pagination-div .pagination li {
    margin-right: 5px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pagination-div .pagination a {
    padding: 10px !important;
    border: 3px solid green !important;
    color: rgb(0, 0, 0) !important;
    font-weight: bold;
}

.active-paggination {
    background: rgb(46, 180, 46) !important;
    color: white !important;
}

#pagination-div .pagination span {
    display: flex;
}

.pagination-item-flex {
    display: flex !important;
}

.pagination-item-none {
    display: none !important;
}

#slider {
    height: 360px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid rgb(53, 177, 22) !important;
    border-radius: 2px;
}

#slider .control {
    position: absolute;
    padding: 0px 4% !important;
    font-size: 2.4em;
    color: rgb(48, 48, 48);
}

#slider .control i {
    background: rgba(156, 154, 154, 0.678);
    padding: 2px 11px !important;
    border-radius: 50%;
    text-align: center;
}

#slider img {
    height: 100%;
}

.small-photos {

    padding: 24px 0px !important;
    padding-bottom: 0px;
    justify-content: space-around;
}

.small-photos .imgdelete {
    width: 19% !important;
    margin: 5px 3px !important;
    height: 85px !important;
    position: relative;
    display: flex;
    justify-content: center;
}

.small-photos .imgdelete .deletebutton {
    position: absolute;


    z-index: 10;
    border-radius: 50%;
    background: rgba(24, 22, 38, 0.9);

}

.small-photos .imgdelete .deletebutton i {
    font-size: 1.4em;
    padding: 6px 9px !important;
    color: white;
}

.small-photos .imgdelete img {
    width: 100% !important;
    height: 100% !important;
}

.small-photos.delete {
    display: flex !important;
    width: 100% !important;
}

.small-photos img {
    width: 19% !important;
    margin: 5px 3px !important;
    height: 85px;
}

.border-img {
    border: 3px solid rgb(59, 194, 59);
}

.text-recept {
    padding: 30px !important;

}

h2 {
    color: #35B116 !important;
}

.recept-title {
    padding-top: 18px !important;
}

.text-recept {
    border-top: 3px solid rgb(53, 177, 22);
    border-bottom: 3px solid rgb(53, 177, 22);
    margin-bottom: 30px !important;

}

.book-title {
    font-size: 1.4em !important;
}

.text-recept h3 {
    padding-bottom: 8px !important;
}

.d-none {
    display: none !important;
}

.menu-footer {
    background: #56ba42;
    padding: 15px 0px !important;
}

.menu-footer a {
    color: white;
}

.social {
    padding-top: 15px !important;
    background: #56ba42;
}

.social a {
    color: white;
    font-size: 1.24em;
    padding: 9px !important;
}

.copy {
    padding-bottom: 14px !important;
    background: #56ba42;
    color: white;}

.detalis {
    padding: 5px 5px !important;
}

.link {
    color: rgb(53, 177, 22) !important;
}

#file-images {
    display: none;
}

#addphoto {
    background: #56ba42d8;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.small-photos .imgdelete #addphoto i {
    font-size: 1.4em;
    padding: 6px 9px !important;
    color: white;
    background: rgba(24, 22, 38, 0.9);
    border-radius: 50%;
}

#deleteBook:hover, #editBook:hover {
    background: none
}

.edits {
    padding-top: 4px !important;
}

#messages {
    min-height: 180px;
}

#messages p {
    padding: 14px 2% !important;
    font-size: 1.3em;

}

#messages h3 {
    padding: 7px 0px !important;
}

#messages div {
    min-height: 40px;
    margin-bottom: 20px !important;

}

.div-button {
    height: 18px !important;
    width: 100%;

}

.div-button input {
    height: 100% !important;
}

.text-users {
    border: none !important;
}

.usersall {
    font-size: 1.1em;
}

.modal-box {
    width: 100% !important;
    height: 100% !important;
    display: flex !important;
    justify-content: center;
}

.tools i {
    padding: 4px !important;
    font-size: 1.1em !important;
}
.my-modal
{
    width:100% !important;
    height: 100% !important;
    position: fixed !important;
    z-index: 1000 ;
    top:0 !important;
    left:0 ;
    display: none;
}
.my-modal-close
{
    position: absolute;
    z-index: 1000;
    top:3px;
    right: 7px;
    font-size: 2em;
}

#my-modal-close
{
    padding:4px !important;

}
.my-modal-content
{
    position: fixed;
    top:70px;
    height: 84% !important;
    overflow-y:auto;
    padding:20px 0px !important;
    background: rgb(94, 207, 92);

}
.my-modal-detalis
{
    padding-bottom: 20px !important;

}
#profile-img
{
    width:220px;
    height: 220px;
padding-bottom: 20px !important;

}
#profile-img img
{
    height: 100%;
    width: 100%;
    border:3px solid green;
    background: white;

}
.form-control-borderless {
    border: none;
    border: 2px solid rgba(0, 128, 0, 0.73);

}

.form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
    border-bottom: 2px solid rgba(0, 128, 0, 0.73);

}
.no-result
{
    color: #04a718;
}
.no-result-icon
{
    font-size:3.5em !important;
    padding: 20px 0px !important;
}
#no-result-text
{
    font-size:2.0em !important;
}

.password-change
{
    margin-top:-15px !important;

    padding-bottom:14px !important;
}

.pass-change
{
    border:none !important;
    padding-bottom: 3px !important;
    font-size: 1.2em;
}
.padding
{
    padding:10px 0px !important;
}
#pass-result
{
    color: #00ab00 !important;
    text-align: center !important;
}
.author
{
    padding:35px 0px !important;
}
.img-author
{
    width:350px !important;
    height: 270px !important;
    margin-bottom: 30px !important;
    border: 3px solid #009000;
}
.img-author img
{
    width:100%;
    height: 100%;
}
.author-text
{
    text-align: justify;
    text-justify: inter-word;
    font-size: 1.1em !important;
    color: white !important;
    padding: 5% !important;
    background: #56ba42 !important;
}
.bottom-content
{
    padding-bottom: 38px !important;
}
.bottom-content h3
{
    color: #0f6306;
}
.bottom-content img
{
    width:275px;
    height: 275px;
}
.bottom-content p
{
    text-align: center;
    background: white;
    color: #1ab80c;
font-size: 1.24em;
}
#add-more
{
    background: red;}
.search-box-button
{
    padding:5px 14px !important;
    background: #3c8039;
    color:white;
    border-radius: 20%;
}
#sanduceslika img{
    margin-bottom: 2% !important;
    height: 100px !important;
}
.bf-color-replace{
    background-color: #56ba42;
}
#answers
{
    padding:26px 0px !important;
    width: 270px !important;
}
#answers p
{
    color:#56ba42;
    font-weight: bold;
    font-size: 1.3em !important;
}
#answers table
{
    margin-bottom: 20px !important;
    background: #56ba42;

}
#answers .tr
{
   padding:4px 20px !important;
    padding-left: 3px !important;
}


@media screen and (max-width: 767px) {
    .dropMenu {
        background: rgba(53, 185, 53, 0.253) !important;
        border: none !important;
    }

    .book:nth-child(odd) {
        margin-left: 0% !important;
    }

    .book:nth-child(even) {
        margin-right: 0% !important;
    }

    .book h3 {
        text-align: center
    }

    .dropMenu li {
        border: none !important;
    }

    .box {
        width: 44% !important;
    }

    .navigation {
        padding: 0px !important;
    }

    .navigation .menuContent {
        background: rgba(98, 184, 87, 0.959) !important;
        border: none !important;
        width: 100% !important;
    }

    .navigation .menuContent li {
        padding: 7px !important;
        padding-bottom: 0px !important;
    }

    .navigation .menuContent li:last-child {
        color: rgb(8, 68, 0) !important;
        border-bottom: 4px solid rgba(58, 147, 22, 0.6);
    }

    .user ul {
        margin: 0px !important;
        width: 100px !important;
    }

    .user .menuContent li {
        background: rgba(98, 184, 87, 0.959) !important;
        border: none !important;
        margin: 0px !important;
    }

}

@media screen and (max-width: 575px) {
    input[type="text"], input[type="button"], input[type="password"] {
        width: 84%;
    }

    input[type="button"] {
        margin-bottom: 5px !important;
        margin-top: 35px !important;
        width: 65%;
    }

    .answer {
        margin: 0 !important;
        width: 30% !important;
    }

    #slider {
        height: 290px;
    }

    .small-photos img {
        width: 38% !important;
    }

    .small-photos .imgdelete {
        width: 38% !important;
    }
}

@media screen and (max-width: 767px) {
    .box {
        width: 85% !important;
    }
}